<!DOCTYPE html>

<html lang="en">

<head>
    {% include 'common_head.html' %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/card_base.css') }}">
    {% block title %}{% endblock %}
    {% block style %}{% endblock %}
</head>

<body>
    <header>
        <form action="{{ url_for('auth.logout') }}" method="post">
            <button class="transparent-button">Log out</button>
        </form>

        {% block header_title %}{% endblock %}

        <form action="{{ url_for('profile.show') }}" method="get">
            <button class="transparent-button">Profile</button>
        </form>
    </header>

    {% block content %}{% endblock %}

    <footer></footer>
</body>

</html>