{% extends 'card/base.html' %}

{% block title %}
<title>{{ card.title }}</title>
{% endblock %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/card_view.css') }}">
{% endblock %}

{% block header_title %}
<h1>{{ card.board.title }}</h1>
{% endblock %}

{% block content %}
<main>
    <form action="{{ url_for('board.show', board_id=board_id) }}" method="get">
        <button class="board-button">Back to the board</button>
    </form>

    <section class="card-info">
        {% if user_info.is_owner %}
        <form id="edit-card-form"
              data-board-id="{{ board_id }}"
              data-card-id="{{ card.id }}">
            <textarea class="card-title" name="title" placeholder="Enter title" required>{{ card.title }}</textarea>
            <textarea class="card-content" name="content" placeholder="Enter content">{{ card.content }}</textarea>
            <input type="hidden" name="operation" value="EDIT">
            <button class="board-button">Edit</button>
        </form>
        {% else %}
        <h3>{{ card.title }}</h3>
        <p>{{ card.content }}</p>
        {% endif %}
    </section>

    {% if user_info.is_owner %}
    <form id="delete-card-form"
          data-board-id="{{ board_id }}"
          data-card-id="{{ card.id }}">
        <button type="submit" class="board-button">Delete</button>
    </form>
    {% endif %}

    <section class="comments">
        <h2>Comments</h2>
        <div class="scrollable"
             data-board-id="{{ board_id }}"
             data-card-id="{{ card.id }}"
             data-current-username="{{ user_info.username }}">
        </div>
        <form id="create-comment-form">
            <textarea class="comment-input" name="content" placeholder="Enter a comment" required></textarea>
            <button class="submit-button">Send</button>
        </form>
    </section>

</main>

<script src="{{ url_for('static', filename='js/comment.js') }}" type="module"></script>
<script src="{{ url_for('static', filename='js/card_view.js') }}" type="module"></script>

{% endblock %}