<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'common_head.html' %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/board.css') }}">
    <title>Board "{{ board.title }}"</title>
</head>

<body>
    <header>
        <form action="{{ url_for('auth.logout') }}" method="get">
            <button class="transparent-button">Log out</button>
        </form>

        <h1>{{ board.title }}</h1>

        <form action="{{ url_for('profile.show') }}" method="get">
            <button class="transparent-button">Profile</button>
        </form>
    </header>

    <main>
        <section class="board">

            <div class="column">
                {% set backlog_cards = grouped_cards.get(0, []) %}
                <h2>Backlog [{{ backlog_cards|length }}]</h2>

                <div class="scrollable">
                    {% for card in backlog_cards %}
                    <div class="card" data-card-id="{{ card.id }}">
                        <form action="{{ url_for('card.show', board_id=board.id, card_id=card.id) }}" method="get"
                            class="flex-grow-rest">
                            <button class="open-card-button">{{ card.title|replace("\n", "<br>")|safe }}</button>
                        </form>
                        <button class="move-card-button flex-20" data-operation="MOVE_RIGHT"
                            data-board-id="{{ board.id }}" data-card-id="{{ card.id }}">=&gt;
                        </button>
                    </div>
                    {% endfor %}
                </div>
            </div>

            <div class="column">
                {% set in_progress_cards = grouped_cards.get(1, []) %}
                <h2>In progress [{{ in_progress_cards|length }}]</h2>

                <div class="scrollable">
                    {% for card in in_progress_cards %}
                    <div class="card" data-card-id="{{ card.id }}">
                        <button class="move-card-button flex-20" data-operation="MOVE_LEFT"
                            data-board-id="{{ board.id }}" data-card-id="{{ card.id }}">&#60;=
                        </button>
                        <form action="{{ url_for('card.show', board_id=board.id, card_id=card.id) }}"
                            class="flex-grow-rest" method="get">
                            <button class="open-card-button">{{ card.title|replace("\n", "<br>")|safe }}</button>
                        </form>
                        <button class="move-card-button flex-20" data-operation="MOVE_RIGHT"
                            data-board-id="{{ board.id }}" data-card-id="{{ card.id }}">=&gt;
                        </button>
                    </div>
                    {% endfor %}
                </div>
            </div>

            <div class="column">
                {% set done_cards = grouped_cards.get(2, []) %}
                <h2>Done [{{ done_cards|length }}]</h2>

                <div class="scrollable">
                    {% for card in done_cards %}
                    <div class="card" data-card-id="{{ card.id }}">
                        <button class="move-card-button flex-20" data-operation="MOVE_LEFT"
                            data-board-id="{{ board.id }}" data-card-id="{{ card.id }}">&#60;=
                        </button>
                        <form action="{{ url_for('card.show', board_id=board.id, card_id=card.id) }}" method="get"
                            class="flex-grow-rest">
                            <button class="open-card-button">{{ card.title|replace("\n", "<br>")|safe }}</button>
                        </form>
                    </div>
                    {% endfor %}
                </div>
            </div>

            {% if user_board_info.is_owner %}
            <form class="form-container" action="{{ url_for('card.create', board_id=board.id) }}" method="get">
                <button class="transparent-button">Create a card</button>
            </form>

            <div></div>

            <div class="form-container">
                <button id="delete-board-button" class="transparent-button"
                    data-board-id="{{ board.id }}">Delete the board</button>
            </div>
            {% endif %}

        </section>

        <section class="members">
            <h2>Members</h2>

            <div class="scrollable">
                {% for user in board.users %}
                {% if user.name != user_board_info.username %}
                <div class="member" data-username="{{ user.name }}">
                    <p>{{ user.name }}</p>
                    {% if user_board_info.is_owner %}
                    <button class="delete-member-button" data-board-id="{{ board.id }}" data-username="{{ user.name }}">Delete</button>
                    {% endif %}
                </div>
                {% endif %}
                {% endfor %}
            </div>

            {% if user_board_info.is_owner %}
            <div class="invite">
                <form id="invite-form" data-board-id="{{ board.id }}">
                    <label for="username">User:</label>
                    <input type="text" id="recipient" name="recipient" required>
                    <button class="transparent-button">Invite</button>
                </form>
            </div>
            {% endif %}
        </section>
    </main>

    <footer></footer>

    <script src="{{ url_for('static', filename='js/board.js') }}"></script>

</body>

</html>