<!DOCTYPE html>


{% macro render_card(card, board_id) %}
<div class="card" data-card-id="{{ card.id }}">
    <button class="move-card-button flex-20" data-operation="MOVE_LEFT" data-board-id="{{ board_id }}"
        data-card-id="{{ card.id }}">&#60;=</button>
    <form action="{{ url_for('card.show', board_id=board_id, card_id=card.id) }}" method="get"
        class="flex-grow-rest">
        <button class="open-card-button">{{ card.title }}</button>
    </form>
    <button class="move-card-button flex-20" data-operation="MOVE_RIGHT" data-board-id="{{ board_id }}"
        data-card-id="{{ card.id }}">=&gt;</button>
</div>
{% endmacro %}

{% macro render_column(title, cards, board_id) %}
<div class="column">
    <h2>{{ title }} [{{ cards|length }}]</h2>
    <div class="scrollable">
        {% for card in cards %}
        {{ render_card(card, board_id) }}
        {% endfor %}
    </div>
</div>
{% endmacro %}




<html lang="en">

<head>
    {% include 'common_head.html' %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/board.css') }}">
    <title>Board "{{ board.title }}"</title>
</head>

<body>
    <header>
        <form action="{{ url_for('auth.logout') }}" method="get">
            <button class="transparent-button">Log out</button>
        </form>

        <h1>{{ board.title }}</h1>

        <form action="{{ url_for('profile.show') }}" method="get">
            <button class="transparent-button">Profile</button>
        </form>
    </header>

    <main>
        <section class="board">

            {{ render_column('Backlog', grouped_cards.get(0, []), board.id) }}
            {{ render_column('In progress', grouped_cards.get(1, []), board.id) }}
            {{ render_column('Done', grouped_cards.get(2, []), board.id) }}

            {% if user_board_info.is_owner %}
            <form class="form-container" action="{{ url_for('card.create', board_id=board.id) }}" method="get">
                <button class="transparent-button">Create a card</button>
            </form>

            <div></div>

            <div class="form-container">
                <button id="delete-board-button" class="transparent-button"
                    data-board-id="{{ board.id }}">Delete the board</button>
            </div>
            {% endif %}

        </section>

        <section class="members">
            <h2>Members</h2>

            <div class="scrollable">
                {% for user in board.users %}
                {% if user.name != user_board_info.username %}
                <div class="member" data-username="{{ user.name }}">
                    <p>{{ user.name }}</p>
                    {% if user_board_info.is_owner %}
                    <button class="delete-member-button" data-board-id="{{ board.id }}" data-username="{{ user.name }}">Delete</button>
                    {% endif %}
                </div>
                {% endif %}
                {% endfor %}
            </div>

            {% if user_board_info.is_owner %}
            <div class="invite">
                <form id="invite-form" data-board-id="{{ board.id }}">
                    <label for="username">User:</label>
                    <input type="text" id="recipient" name="recipient" required>
                    <button class="transparent-button">Invite</button>
                </form>
            </div>
            {% endif %}
        </section>
    </main>

    <footer></footer>

    <script src="{{ url_for('static', filename='js/board.js') }}" type="module"></script>

</body>

</html>