<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'common_head.html' %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/board.css') }}">
    <title>Board "{{ board.title }}"</title>
</head>

<body>
    <header>
        <form action="{{ url_for('auth.logout') }}" method="get">
            <button class="transparent-button">Log out</button>
        </form>

        <h1>{{ board.title }}</h1>

        <form action="{{ url_for('profile.show') }}" method="get">
            <button class="transparent-button">Profile</button>
        </form>
    </header>

    <main>
        <section class="board">

            <div class="column">
                {% set backlog_cards = grouped_cards.get(0, []) %}
                <h2>Backlog [{{ backlog_cards|length }}]</h2>

                <div class="scrollable">
                    {% for card in backlog_cards %}
                    <div class="card">
                        <form action="{{ url_for('card.handle', board_id=board.id, card_id=card.id) }}" method="get"
                            class="flex-grow-rest">
                            <button class="open-card-button">{{ card.title|replace("\n", "<br>")|safe }}</button>
                        </form>
                        <form action="{{ url_for('card.handle', board_id=board.id, card_id=card.id) }}" method="post"
                            class="flex-20">
                            <input type="hidden" name="operation" value="MOVE_RIGHT">
                            <button class="move-card-button">=&gt;</button>
                        </form>
                    </div>
                    {% endfor %}
                </div>
            </div>

            <div class="column">
                {% set in_progress_cards = grouped_cards.get(1, []) %}
                <h2>In progress [{{ in_progress_cards|length }}]</h2>

                <div class="scrollable">
                    {% for card in in_progress_cards %}
                    <div class="card">
                        <form action="{{ url_for('card.handle', board_id=board.id, card_id=card.id) }}" method="post"
                            class="flex-20">
                            <input type="hidden" name="operation" value="MOVE_LEFT">
                            <button class="move-card-button">&#60;=</button>
                        </form>
                        <form action="{{ url_for('card.handle', board_id=board.id, card_id=card.id) }}"
                            class="flex-grow-rest" method="get">
                            <button class="open-card-button">{{ card.title|replace("\n", "<br>")|safe }}</button>
                        </form>
                        <form action="{{ url_for('card.handle', board_id=board.id, card_id=card.id) }}" method="post"
                            class="flex-20">
                            <input type="hidden" name="operation" value="MOVE_RIGHT">
                            <button class="move-card-button">=&gt;</button>
                        </form>
                    </div>
                    {% endfor %}
                </div>
            </div>

            <div class="column">
                {% set done_cards = grouped_cards.get(2, []) %}
                <h2>Done [{{ done_cards|length }}]</h2>

                <div class="scrollable">
                    {% for card in done_cards %}
                    <div class="card">
                        <form action="{{ url_for('card.handle', board_id=board.id, card_id=card.id) }}" method="post"
                            class="flex-20">
                            <input type="hidden" name="operation" value="MOVE_LEFT">
                            <button class="move-card-button">&#60;=</button>
                        </form>
                        <form action="{{ url_for('card.handle', board_id=board.id, card_id=card.id) }}" method="get"
                            class="flex-grow-rest">
                            <button class="open-card-button">{{ card.title|replace("\n", "<br>")|safe }}</button>
                        </form>
                    </div>
                    {% endfor %}
                </div>
            </div>

            {% if user_board_info.is_owner %}
            <form class="form-container" action="{{ url_for('card.create', board_id=board.id) }}" method="get">
                <button class="transparent-button">Create a card</button>
            </form>

            <div></div>

            <form class="form-container" action="{{ url_for('board.handle', board_id=board.id) }}" method="post">
                <input type="hidden" name="_method" value="DELETE">
                <button class="transparent-button">Delete the board</button>
            </form>
            {% endif %}

        </section>

        <section class="members">
            <h2>Members</h2>

            <div class="scrollable">
                {% for user in board.users %}
                {% if user.name != user_board_info.username %}
                <div class="member">
                    <p>{{ user.name }}</p>
                    {% if user_board_info.is_owner %}
                    <form action="{{ url_for('membership.delete_member', board_id=board.id) }}" method="post">
                        <input type="hidden" name="user" value="{{ user.name }}">
                        <input type="hidden" name="_method" value="DELETE">
                        <button class="delete-member-button">Delete</button>
                    </form>
                    {% endif %}
                </div>
                {% endif %}
                {% endfor %}
            </div>

            {% if user_board_info.is_owner %}
            <div class="invite">
                <form action="{{ url_for('membership.сreate_invitation', board_id=board.id) }}" method="post">
                    <label for="username">User:</label>
                    <input type="text" id="recipient" name="recipient" required>
                    <button class="transparent-button">Invite</button>
                </form>
            </div>

            {% for message in get_flashed_messages() %}
            <div class="flash">{{ message }}</div>
            {% endfor %}
            {% endif %}
        </section>
    </main>

    <footer></footer>

</body>

</html>