<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'common_head.html' %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/profile.css') }}">
    <title>User Boards</title>
</head>

<body>
    <header>
        <form action="{{ url_for('auth.logout') }}" method="post">
            <button class="transparent-button">Log out</button>
        </form>
        <h1>{{ username }}</h1>
    </header>

    <main>
        <section id="owner-boards-section" style="display: none;">
            <h2>Your boards</h2>
            <div class="line-block" id="owner-boards-container"></div>
        </section>

        <section>
            <h3>Create a new board</h3>
            <form id="create-board-form">
                <div class="line-block">
                    <label for="title">Title:</label>
                    <input type="text" id="title" name="title" required>
                    <button type="submit" class="transparent-button">Create</button>
                </div>
            </form>
        </section>

        <section id="invitations-section" style="display: none;">
            <h2>Invitations</h2>
            <div id="invitations-container"></div>
        </section>


        <section id="member-boards-section" style="display: none;">
            <h2>You're a member of</h2>
            <div class="line-block" id="member-boards-container"></div>
        </section>

    </main>

    <footer></footer>

    <script src="{{ url_for('static', filename='js/profile.js') }}" type="module"></script>

</body>

</html>