main {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-button {
    display: block;
    padding: 5px 10px;
    margin: auto;
    margin-top: 40px;
    border-radius: 5px;
    color: white;
    background-color: transparent;
    border: 1px solid white;
}